@import "tailwindcss";

html,
body {
  background-color: #dcdcde;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

#root {
  background: #dcdcde;
  /* Gradiente radial Morado */
  /* background: radial-gradient(
    circle,
    rgba(220, 220, 222, 0.87) 71%,
    rgba(135, 110, 228, 0.51) 100%
  ); */
  /* background-image: linear-gradient(to top, #cfd9df 0%, rgb(143, 185, 207) 100%); */
  background-color: #DFDBE5;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
