.dark-blue {
  color: #060097; /* Dark Blue */
}
.dark-slate-gray {
  color: #495157; /* Dark Slate Gray */
}
.slate-gray {
  color: #67768E; /* Slate Gray */
}
.medium-purple {
  color: #876EE4; /* Medium Purple */
}
.gold {
  color: #E9CC2B; /* Gold */
}
.white-smoke {
  color: #EDEDED; /* White Smoke */
}
.white-smoke {
  color: #EEEEEE; /* White Smoke */
}
.sandy-brown {
  color: #FFCD57; /* Sandy Brown */
}
