.dark-blue {
  color: #060097; /* Dark Blue */
}
.dark-slate-gray {
  color: #495157; /* Dark Slate Gray */
}
.slate-gray {
  color: #67768E; /* Slate Gray */
}
.medium-purple {
  color: #876EE4; /* Medium Purple */
}
.gold {
  color: #e6b313; /* Gold */
}
.white-smoke {
  color: #EDEDED; /* White Smoke */
}
.blue {
  color: #29568E; 
}

